@font-face
{
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 1000;
}
body
{
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin-left: 4rem;
    margin-right: 4rem;
}
#bloc_page
{
    width: 66.56rem;
}
h1
{
    font-weight: 700;
    font-size: 1.1rem;
}
h2
{
    font-weight:bold;
    font-size: 0.9rem;
}
h3
{
    color: grey;
    font-size: 0.70rem;
    font-weight: bolder;
}
header
{
    display: flex;
    font-size: 0.9rem;
    justify-content: flex-end;
    align-items: baseline;
}
#logo
{
    position: absolute;
    top: 2rem;
    left: 4rem;
}
#logo img
{
    max-width: 85%;
}
nav ul
{
   list-style-type: none;
   display: flex;
   flex-direction: row;
   align-items: flex-end;
}
nav li
{    
    margin-right: 3rem;
}
nav a
{
    font-size: 0.8rem;
    color: grey;
    font-weight: bold;
    text-decoration: none;
}
nav a:hover
{
    color: #0065FC;
    font-weight: bold;
    border-top: 2px solid #0065FC;
    padding-top: 2rem;
}
#inscription
{
    font-size: 0.8rem;
    color: #0065FC;
    font-weight: bold;
    padding-top: 2rem;
    cursor: pointer;
    margin-bottom: 3rem;
}
a.inscription:link
{
    text-decoration: none;
}
a.inscription:hover
{
    background-color: rgb(242,242,242);
}
#titre_principal
{
    line-height: 0.5rem;
    margin-bottom: 1rem;
}
#rechercher
{
   display: inline-block;
   vertical-align: middle;
   height: 4rem;
   margin-bottom: 0.3rem;
}
#map_marker
{
    float: left;
    width:  1.8rem;
    height: 1.8rem;
    background-color:rgb(242,242,242);
    padding-left: 1rem;
    padding-top: 0.8rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#barre_de_recherche
{
    font-weight: bold;
    font-size: 0.9rem;
    height: 2.8rem;
    font-weight: 900;
    width:  12rem;
    padding-left: 1rem;
    border-style: solid;
    border-top-color: rgb(242,242,242);
    border-bottom-color: rgb(242,242,242);
    border-left-color: transparent;
    border-right-color: transparent;
}
.bouton_search
{
    font-size: 0.85rem;
    font-weight: bold;
    color: white;
    height: 2.8rem;
    background-color: #0065FC;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    cursor: pointer;
 }
 .bouton_search:hover
 {
    color: #deebff;
 }
#filtres 
{
    display: flex;
    vertical-align: middle;
    margin-bottom:1.2rem;
}
.barre_de_filtres
{    
    display: inline-flex;
}
.icones_filtres
{
    margin-left: 1rem;
    width:  1.75rem;
    height: 1.75rem;
    color: #0065FC;
    background-color: #deebff;
    padding-left: 0.75rem;
    padding-top: 0.7rem;
    border-radius: 2.2rem;
}
.noms_filtres
{
    margin-left: -1.1rem;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    height: 2.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding-right: 1rem;
    padding-left: 1.5rem;
    background-color: transparent;
    border-style: solid;
    border-width: 0.2rem;
    border-top-color: rgb(242,242,242);
    border-bottom-color: rgb(242,242,242);
    border-right-color: rgb(242,242,242);
    border-left-color: transparent;
    cursor: pointer;
}
.noms_filtres:hover
{
    color: #0065FC;
}
#information_ville
{
    display: flex;
    align-items: baseline;
    margin-bottom: 1.4rem;
}
#fa-info
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    width: 1.2rem;
    height: 1.2rem;
    color: #0065FC;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
}
#information_ville h3
{
    margin-left: 0.5rem;
}
#partie1
{
    display : flex;
}
#hebergements
{
    width: 62%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: rgb(242,242,242);
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
#hebergements h1
{
    margin-left: 1rem;
    width: 100%;
    padding-top: 1.2rem;
    margin-bottom: 0.2rem;
}
#hebergement_1
{
    background-color: white;
    width: auto;
    height: 10rem;
    border-radius: 1rem;
    margin: 0.8rem;
    cursor: pointer;
}
#hebergement_1 figure
{
    display: flex;
    flex-flow: column;
    max-width: 11.6rem;
    padding: 0.2rem;
    height: auto;
    margin: auto;
}
#hebergement_1 figure img 
{
    margin-top: -0.9rem;
    width: 11.6rem;
    height: 6.7rem;
    object-fit: cover;
    object-position: bottom;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#hebergement_1 figure figcaption
{
    background-color: white;
    line-height: 50%;
    text-align: left;
    margin-top: -1rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius: 1rem;
}
#hebergement_1 figure figcaption h2
{
    font-size: 80%;
    font-weight: bold;
    margin-left: 0.5rem;
}
#hebergement_1 figure figcaption h3
{
    margin-left: 0.5rem;
}
#hebergement_1 figure figcaption p
{
    color: #0065FC;
    font-size: 55%;
    margin-left: 0.5rem;
}
#hebergement_2
{
    background-color: white;
    width: auto;
    height: 10rem;
    border-radius: 1rem;
    margin: 0.8rem;
    cursor: pointer;
}
#hebergement_2 figure
{
    display: flex;
    flex-flow: column;
    max-width: 11.6rem;
    padding: 0.2rem;
    height: auto;
    margin: auto;
}
#hebergement_2 figure img 
{
    margin-top: -0.9rem;
    width: 11.6rem;
    height: 6.7rem;
    object-fit: cover;
    object-position: bottom;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#hebergement_2 figure figcaption
{
    background-color: white;
    line-height: 50%;
    text-align: left;
    margin-top: -1rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius: 1rem;
}
#hebergement_2 figure figcaption h2
{
    font-size: 80%;
    font-weight: bold;
    margin-left: 0.5rem;
}
#hebergement_2 figure figcaption h3
{
    margin-left: 0.5rem;
}
#hebergement_2 figure figcaption p
{
    color: #0065FC;
    font-size: 55%;
    margin-left: 0.5rem;
}
#hebergement_3
{
    background-color: white;
    width: auto;
    height: 10rem;
    border-radius: 1rem;
    margin: 0.8rem;
    cursor: pointer;
}
#hebergement_3 figure
{
    display: flex;
    flex-flow: column;
    max-width: 11.6rem;
    padding: 0.2rem;
    height: auto;
    margin: auto;
}
#hebergement_3 figure img 
{
    margin-top: -0.9rem;
    width: 11.6rem;
    height: 6.7rem;
    object-fit: cover;
    object-position: bottom;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#hebergement_3 figure figcaption
{
    background-color: white;
    line-height: 50%;
    text-align: left;
    margin-top: -1rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius: 1rem;
}
#hebergement_3 figure figcaption h2
{
    font-size: 80%;
    font-weight: bold;
    margin-left: 0.5rem;
}
#hebergement_3 figure figcaption h3
{
    margin-left: 0.5rem;
}
#hebergement_3 figure figcaption p
{
    color: #0065FC;
    font-size: 55%;
    margin-left: 0.5rem;
}
#hebergement_4
{
    background-color: white;
    width: auto;
    height: 10rem;
    border-radius: 1rem;
    margin: 0.8rem;
    cursor: pointer;
}
#hebergement_4 figure
{
    display: flex;
    flex-flow: column;
    max-width: 11.6rem;
    padding: 0.2rem;
    height: auto;
    margin: auto;
}
#hebergement_4 figure img 
{
    margin-top: -0.9rem;
    width: 11.6rem;
    height: 6.7rem;
    object-fit: cover;
    object-position: bottom;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#hebergement_4 figure figcaption
{
    background-color: white;
    line-height: 50%;
    text-align: left;
    margin-top: -1rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius: 1rem;
}
#hebergement_4 figure figcaption h2
{
    font-size: 80%;
    font-weight: bold;
    margin-left: 0.5rem;
}
#hebergement_4 figure figcaption h3
{
    margin-left: 0.5rem;
}
#hebergement_4 figure figcaption p
{
    color: #0065FC;
    font-size: 55%;
    margin-left: 0.5rem;
}
#hebergement_5
{
    background-color: white;
    width: auto;
    height: 10rem;
    border-radius: 1rem;
    margin: 0.8rem;
    cursor: pointer;
}
#hebergement_5 figure
{
    display: flex;
    flex-flow: column;
    max-width: 11.6rem;
    padding: 0.2rem;
    height: auto;
    margin: auto;
}
#hebergement_5 figure img 
{
    margin-top: -0.9rem;
    width: 11.6rem;
    height: 6.7rem;
    object-fit: cover;
    object-position: bottom;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#hebergement_5 figure figcaption
{
    background-color: white;
    line-height: 50%;
    text-align: left;
    margin-top: -1rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius: 1rem;
}
#hebergement_5 figure figcaption h2
{
    font-size: 80%;
    font-weight: bold;
    margin-left: 0.5rem;
}
#hebergement_5 figure figcaption h3
{
    margin-left: 0.5rem;
}
#hebergement_5 figure figcaption p
{
    color: #0065FC;
    font-size: 55%;
    margin-left: 0.5rem;
}
#hebergement_6
{
    background-color: white;
    width: auto;
    height: 10rem;
    border-radius: 1rem;
    margin: 0.8rem;
    cursor: pointer;
}
#hebergement_6 figure
{
    display: flex;
    flex-flow: column;
    max-width: 11.6rem;
    padding: 0.2rem;
    height: auto;
    margin: auto;
}
#hebergement_6 figure img 
{
    margin-top: -0.9rem;
    width: 11.6rem;
    height: 6.7rem;
    object-fit: cover;
    object-position: bottom;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#hebergement_6 figure figcaption
{
    background-color: white;
    line-height: 50%;
    text-align: left;
    margin-top: -1rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius: 1rem;
}
#hebergement_6 figure figcaption h2
{
    font-size: 80%;
    font-weight: bold;
    margin-left: 0.5rem;
}
#hebergement_6 figure figcaption h3
{
    margin-left: 0.5rem;
}
#hebergement_6 figure figcaption p
{
    color: #0065FC;
    font-size: 55%;
    margin-left: 0.5rem;
}
#afficher a
{
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin: 0.8rem;
    cursor: pointer;
}
#afficher a:link
{
    text-decoration: none;
}
#afficher a:hover
{
    color: #0065FC;
    font-weight: bold;
}
section aside #populaires
{
    flex: 38%;
    align-items: flex-end;
    position: relative;
    margin-left: 2rem;
    background-color: rgb(242,242,242);
    border-radius: 1rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
}
#titre_populaires
{
    display: flex;
    margin-bottom: -1.2rem;
}
.fa-chart-line
{
    align-items: flex-end;
    font-size: 1.1rem;
    padding-top: 1.2rem;
 }
#populaires h1
{
    align-items: flex-start;
    width: 100%;
}
#populaire_1
{
    background-color: white;
    width: auto;
    height: auto;
    border-radius: 1.5rem;
    cursor: pointer;
    margin-bottom: 1.5rem;
}
#populaire_1 figure
{
    display: flex;
    flex-flow: row;
    max-width: 16.5rem;
    padding: 0.2rem;
    height: auto;
    margin: auto;
}
#populaire_1 figure img 
{
    width: 8.5rem; 
    height: 7rem;
    object-fit: cover;
    object-position: right;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#populaire_1 figure figcaption
{
    text-align: left;
    background-color: white;
    margin-left: -2rem;
    margin-right: 1rem;
    padding-left: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#populaire_1 figure figcaption h2
{
    font-size: 80%;
    font-weight: bold;
    margin-bottom: -0.3rem;
}
#populaire_1 figure figcaption p
{
    color: #0065FC;
    font-size: 55%;
    margin-top: 2rem;
}
#populaire_2
{
    background-color: white;
    width: auto;
    height: auto;
    border-radius: 1.5rem;
    cursor: pointer;
    margin-bottom: 1.5rem;
}
#populaire_2 figure
{
    display: flex;
    flex-flow: row;
    max-width: 16.5rem;
    padding: 0.2rem;
    height: auto;
    margin: auto;
}
#populaire_2 figure img 
{
    width: 8.5rem; 
    height: 7rem;
    object-fit: cover;
    object-position: right;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#populaire_2 figure figcaption
{
    text-align: left;
    background-color: white;
    margin-left: -2rem;
    margin-right: 1rem;
    padding-left: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#populaire_2 figure figcaption h2
{
    font-size: 80%;
    font-weight: bold;
    margin-bottom: -0.3rem;
}
#populaire_2 figure figcaption p
{
    color: #0065FC;
    font-size: 55%;
    margin-top: 2rem;
}
#populaire_3
{
    background-color: white;
    width: auto;
    height: auto;
    border-radius: 1.5rem;
    cursor: pointer;
}
#populaire_3 figure
{
    display: flex;
    flex-flow: row;
    max-width: 16.5rem;
    padding: 0.2rem;
    height: auto;
    margin: auto;
}
#populaire_3 figure img 
{
    width: 8.5rem; 
    height: 7rem;
    object-fit: cover;
    object-position: right;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#populaire_3 figure figcaption
{
    text-align: left;
    background-color: white;
    margin-left: -0.5rem;
    margin-right: 1rem;
    padding-left: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#populaire_3 figure figcaption h2
{
    font-size: 80%;
    font-weight: bold;
    margin-bottom: -0.3rem;
}
#populaire_3 figure figcaption p
{
    color: #0065FC;
    font-size: 55%;
    margin-top: 2rem;
}
#activites
/* utilisation de margin négatifs pour forcer l'alignement, voir à terme si possibilité de faire autrement*/
{
    display: grid;
    width: 69.06rem;
    height: auto;
    margin-left: -2.5rem;
    margin-bottom: 0.5rem;
    grid-template-columns: repeat (auto-fit, 1fr);
    grid-template-rows: repeat (auto-fit, 1fr);
    grid-template-areas: 
        "a m m m"
        "b c e f"
        "b d e g";
    background-color: white;
    margin-block-start: 2rem;
}
#activites h1
{
    grid-area: a;
    width: 100%;
    text-align: left;
    margin-left: 2.5rem;
    padding-top: 0.5rem;
    margin-bottom: 0.1rem;
}
#activites h2
{
    font-size: 80%;
}
#activite_1
{
    grid-area: b;
    border-radius: 1rem;
    align-self: start;
    margin-right: -3rem;
    cursor: pointer;
}
#activite_1 figure
{
    width: 15rem;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0px 2px 2px 2px rgb(242,242,242);
}
#activite_1 figure img
{
    width: 15rem;
    height: 18.9rem;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#activite_1 figure figcaption
{
    background-color: white;
    width: 14rem;
    height: 2.4rem;
    font-weight: bold;
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#activite_2
{
    grid-area: c;
    width: auto;
    border-radius: 1rem;
    align-self: start;
    margin-bottom: -1.8rem;
    margin-right: -3rem;
    cursor: pointer;
}
#activite_2 figure
{
    width: 15rem;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0px 2px 2px 2px rgb(242,242,242);
}
#activite_2 figure img
{
    width: 15rem;
    height: 8.6rem;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#activite_2 figure figcaption
{
    background-color: white;
    width: 14rem;
    height: 2.4rem;
    font-weight: bold;
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#activite_3
{
    grid-area: d;
    width: auto;
    border-radius: 1rem;
    align-self: end;
    cursor: pointer;
    margin-right: -3rem;
}
#activite_3 figure
{
    width: 15rem;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0px 2px 2px 2px rgb(242,242,242);
}
#activite_3 figure img
{
    width: 15rem;
    height: 5rem;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#activite_3 figure figcaption
{
    background-color: white;
    width: 14rem;
    height: 2.4rem;
    font-weight: bold;
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#activite_4
{
   grid-area: e;
   border-radius: 1rem;
   align-self: start;
   cursor: pointer;
   margin-right: -3rem;
}
#activite_4 figure
{
    width: 15rem;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0px 2px 2px 2px rgb(242,242,242);
}
#activite_4 figure img
{
    width: 15rem;
    height: 18.9rem;
    filter: opacity(85%);
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#activite_4 figure figcaption
{
    background-color: white;
    width: 14rem;
    height: 2.4rem;
    font-weight: bold;
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#activite_5
{
    grid-area: f;
    width: auto;
    border-radius: 1rem;
    align-self: start;
    cursor: pointer;
}
#activite_5 figure
{
    width: 15rem;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0px 2px 2px 2px rgb(242,242,242);
}
#activite_5 figure img
{
    width: 15rem;
    height: 6.6rem;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#activite_5 figure figcaption
{
    background-color: white;
    width: 14rem;
    height: 2.4rem;
    font-weight: bold;
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#activite_6
{
    grid-area: g;
    width: auto;
    border-radius: 1rem;
    align-self: end;
    cursor: pointer;
}
#activite_6 figure
{
    width: 15rem;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0px 2px 2px 2px rgb(242,242,242);
}
#activite_6 figure img
{
    width: 15rem;
    height: 7.1rem;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#activite_6 figure figcaption
{
    background-color: white;
    width: 14rem;
    height: 2.4rem;
    font-weight: bold;
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}