@font-face
{
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 1000;
}
body
{
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin-left: 4rem;
}
#bloc_page
{
    width: 92rem;
}
h1
{
    font-weight: 700;
    font-size: 1.3rem;
}
h2
{
    font-size: 1.2rem;
}
h3
{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(60, 60, 60);
}
.stars
{
    color: #0065FC; 
}
.no_star
{
    color: rgb(242,242,242);
}
header
{
    display: flex;
    width: 80rem;
    align-items: baseline;
    justify-content: flex-end;
}
#logo
{
    position: absolute;
    top: 2.5rem;
    left: 4rem;
}
#logo img
{
    max-width: 100%;
}
nav ul
{
   list-style-type: none;
   display: flex;
   flex-direction: row;
   align-items: flex-end;
}
nav li
{    
    margin-right: 3rem;
}
nav a
{
    color: grey;
    font-weight: 500;
    color: rgb(60, 60, 60);
    text-decoration: none;
}
nav a:hover
{
    color: #0065FC;
    font-weight: bold;
    border-top: 2px solid #0065FC;
    padding-top: 2rem;
}
#inscription
{
    color: #0065FC;
    font-weight: bold;
    padding-top: 2rem;
    cursor: pointer;
    margin-bottom: 3rem;
}
a.inscription:link
{
    text-decoration: none;
}
a.inscription:hover
{
    background-color: rgb(242,242,242);
}
#titre_principal
{
    margin-bottom: 1.5rem;
}
#titre_principal h3
{
    margin-top: -0.5rem;
}
#rechercher
{
   display: inline-block;
   vertical-align: middle;
   height: 4rem;
   margin-bottom: 0.3rem;
}
#map_marker
{
    float: left;
    width:  1em;
    height: 1.2rem;
    font-size: 110%;
    background-color:rgb(242,242,242);
    padding-top: 1.1rem;
    padding-right: 1rem;
    padding-bottom: 0.9rem;
    padding-left: 1.2rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#barre_de_recherche
{
    font-weight: 600;
    font-size: 1.1rem;
    height: 3.2rem;
    width:  14.35rem;
    padding-left: 1rem;
    border-style: solid;
    border-width: 0.1rem;
    border-top-color: rgb(242,242,242);
    border-bottom-color: rgb(242,242,242);
    border-left-color: transparent;
    border-right-color: transparent;
}
.bouton_search
{
    font-size: 1rem;
    color: white;
    font-weight: 600;
    height: 3.2rem;
    background-color: #0065FC;
    margin-left: -0.5rem;
    border-width: 0rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-right: 1.1rem;
    padding-left: 1.1rem;
    cursor: pointer;
 }
 .bouton_search:hover
 {
    color: #deebff;
 }
#filtres 
{
    display: flex;
    vertical-align: middle;
    margin-bottom:1.2rem;
}
.barre_de_filtres
{    
    display: inline-flex;
}
.icones_filtres
{
    margin-left: 2rem;
    width:  2rem;
    height: 2rem;
    font-size: 1.2rem;
    color: #0065FC;
    background-color: #deebff;
    padding-top: 1rem;
    padding-right: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    border-radius: 2.2rem;
}
.noms_filtres
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    height: 3.2rem;
    margin-left: -1.2rem;
    padding-right: 1.2rem;
    padding-left: 1.5rem;
    background-color: transparent;
    border-style: solid;
    border-width: 0.15rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border-top-color: rgb(242,242,242);
    border-bottom-color: rgb(242,242,242);
    border-right-color: rgb(242,242,242);
    border-left-color: transparent;
    cursor: pointer;
}
.noms_filtres:hover
{
    color: #0065FC;
}
#information_ville
{
    display: flex;
    align-items: baseline;
    margin-bottom: 1.4rem;
}
#fa-info
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    width: 1.2rem;
    height: 1.2rem;
    color: #0065FC;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
}
#information_ville h3
{
    margin-left: 0.5rem;
}
#partie1
{
    max-width: 84rem;
    display: flex;
}
#hebergements
{
    width: 66%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: rgb(242,242,242);
    border-radius: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.2rem;
}
#hebergements h1
{
    margin-left: 1rem;
    width: 100%;
    font-size: 135%;
    padding-top: 1.4rem;
    margin-bottom: 0.3rem;
}
#hebergement_1
{
    background-color: white;
    width: auto;
    height: 12.5rem;
    border-radius: 1.3rem;
    margin: 1rem;
    cursor: pointer;
}
#hebergement_1 figure
{
    display: flex;
    flex-flow: column;
    max-width: 15rem;
    padding: 0.3rem;
    height: auto;
    margin: auto;
}
#hebergement_1 figure img 
{
    margin-top: -0.9rem;
    width: 14.8rem;
    height: 8.3rem;
    object-fit: cover;
    object-position: bottom;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#hebergement_1 figure figcaption
{
    background-color: white;
    line-height: 45%;
    text-align: left;
    margin-top: -1rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius: 1rem;
}
#hebergement_1 figure figcaption h2
{
    font-size: 100%;
    font-weight: bold;
    margin-left: 0.5rem;
}
#hebergement_1 figure figcaption h3
{
    font-size: 90%;
    margin-left: 0.5rem;
}
#hebergement_1 figure figcaption p
{
    font-size: 72%;
    margin-left: 0.5rem;
}
#hebergement_2
{
    background-color: white;
    width: auto;
    height: 12.5rem;
    border-radius: 1.3rem;
    margin: 1rem;
    cursor: pointer;
}
#hebergement_2 figure
{
    display: flex;
    flex-flow: column;
    max-width: 15rem;
    padding: 0.3rem;
    height: auto;
    margin: auto;
}
#hebergement_2 figure img 
{
    margin-top: -0.9rem;
    width: 14.8rem;
    height: 8.3rem;
    object-fit: cover;
    object-position: bottom;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#hebergement_2 figure figcaption
{
    background-color: white;
    line-height: 45%;
    text-align: left;
    margin-top: -1rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius: 1rem;
}
#hebergement_2 figure figcaption h2
{
    font-size: 100%;
    font-weight: bold;
    margin-left: 0.5rem;
}
#hebergement_2 figure figcaption h3
{
    font-size: 90%;
    margin-left: 0.5rem;
}
#hebergement_2 figure figcaption p
{
    font-size: 72%;
    margin-left: 0.5rem;
}
#hebergement_3
{
    background-color: white;
    width: auto;
    height: 12.5rem;
    border-radius: 1.3rem;
    margin: 1rem;
    cursor: pointer;
}
#hebergement_3 figure
{
    display: flex;
    flex-flow: column;
    max-width: 15rem;
    padding: 0.3rem;
    height: auto;
    margin: auto;
}
#hebergement_3 figure img 
{
    margin-top: -0.9rem;
    width: 14.8rem;
    height: 8.3rem;
    object-fit: cover;
    object-position: bottom;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#hebergement_3 figure figcaption
{
    background-color: white;
    line-height: 45%;
    text-align: left;
    margin-top: -1rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius: 1rem;
}
#hebergement_3 figure figcaption h2
{
    font-size: 100%;
    font-weight: bold;
    margin-left: 0.5rem;
}
#hebergement_3 figure figcaption h3
{
    font-size: 90%;
    margin-left: 0.5rem;
}
#hebergement_3 figure figcaption p
{
    font-size: 72%;
    margin-left: 0.5rem;
}
#hebergement_4
{
    background-color: white;
    width: auto;
    height: 12.5rem;
    border-radius: 1.3rem;
    margin: 1rem;
    cursor: pointer;
}
#hebergement_4 figure
{
    display: flex;
    flex-flow: column;
    max-width: 15rem;
    padding: 0.3rem;
    height: auto;
    margin: auto;
}
#hebergement_4 figure img 
{
    margin-top: -0.9rem;
    width: 14.8rem;
    height: 8.3rem;
    object-fit: cover;
    object-position: bottom;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#hebergement_4 figure figcaption
{
    background-color: white;
    line-height: 45%;
    text-align: left;
    margin-top: -1rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius: 1rem;
}
#hebergement_4 figure figcaption h2
{
    font-size: 100%;
    font-weight: bold;
    margin-left: 0.5rem;
}
#hebergement_4 figure figcaption h3
{
    font-size: 90%;
    margin-left: 0.5rem;
}
#hebergement_4 figure figcaption p
{
    font-size: 72%;
    margin-left: 0.5rem;
}
#hebergement_5
{
    background-color: white;
    width: auto;
    height: 12.5rem;
    border-radius: 1.3rem;
    margin: 1rem;
    cursor: pointer;
}
#hebergement_5 figure
{
    display: flex;
    flex-flow: column;
    max-width: 15rem;
    padding: 0.3rem;
    height: auto;
    margin: auto;
}
#hebergement_5 figure img 
{
    margin-top: -0.9rem;
    width: 14.8rem;
    height: 8.3rem;
    object-fit: cover;
    object-position: bottom;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#hebergement_5 figure figcaption
{
    background-color: white;
    line-height: 45%;
    text-align: left;
    margin-top: -1rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius: 1rem;
}
#hebergement_5 figure figcaption h2
{
    font-size: 100%;
    font-weight: bold;
    margin-left: 0.5rem;
}
#hebergement_5 figure figcaption h3
{
    font-size: 90%;
    margin-left: 0.5rem;
}
#hebergement_5 figure figcaption p
{
    font-size: 72%;
    margin-left: 0.5rem;
}
#hebergement_6
{
    background-color: white;
    width: auto;
    height: 12.5rem;
    border-radius: 1.3rem;
    margin: 1rem;
    cursor: pointer;
}
#hebergement_6 figure
{
    display: flex;
    flex-flow: column;
    max-width: 15rem;
    padding: 0.3rem;
    height: auto;
    margin: auto;
}
#hebergement_6 figure img 
{
    margin-top: -0.9rem;
    width: 14.8rem;
    height: 8.3rem;
    object-fit: cover;
    object-position: bottom;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#hebergement_6 figure figcaption
{
    background-color: white;
    line-height: 45%;
    text-align: left;
    margin-top: -1rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius: 1rem;
}
#hebergement_6 figure figcaption h2
{
    font-size: 100%;
    font-weight: bold;
    margin-left: 0.5rem;
}
#hebergement_6 figure figcaption h3
{
    font-size: 90%;
    margin-left: 0.5rem;
}
#hebergement_6 figure figcaption p
{
    font-size: 72%;
    margin-left: 0.5rem;
}
#afficher a
{
    font-weight: bold;
    color: black;
    text-decoration: none;
    line-height: 3.4rem;
    margin-left: 1rem;
    cursor: pointer;
}
#afficher a:link
{
    text-decoration: none;
}
#afficher a:hover
{
    color: #0065FC;
    font-weight: bold;
}
section aside #populaires
{
    flex: 34%;
    align-items: flex-end;
    position: relative;
    margin-left: 2.5rem;
    background-color: rgb(242,242,242);
    border-radius: 1rem;
    padding-top: 1.3rem;
    padding-left: 2.3rem;
    padding-right: 2rem;
    padding-bottom: 0.2rem;
}
#titre_populaires
{
    display: flex;
    margin-bottom: -0.6rem;
}
.fa-chart-line
{
    align-items: flex-end;
    font-size: 1.45rem;
    padding-top: 1.2rem;
    padding-right: 0.2rem;
 }
#populaires h1
{
    align-items: flex-start;
    width: 100%;
    font-size: 135%;
}
#populaire_1
{
    background-color: white;
    width: 21.5rem;
    height: auto;
    border-radius: 1.3rem;
    cursor: pointer;
    margin-bottom: 2rem;
    margin-right: 0.5rem;
}
#populaire_1 figure
{
    display: flex;
    flex-flow: row;
    padding: 0.3rem;
    height: auto;
    margin: auto;
}
#populaire_1 figure img 
{
    width: 10.1rem; 
    height: 8.5rem;
    object-fit: cover;
    object-position: right;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#populaire_1 figure figcaption
{
    text-align: left;
    background-color: white;
    margin-left: -2.1rem;
    margin-right: 1.2rem;
    padding-left: 1.5rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#populaire_1 figure figcaption h2
{
    font-size: 100%;
    font-weight: bold;
    margin-bottom: -0.3rem;
}
#populaire_1 figure figcaption h3
{
    font-size: 90%;
}
#populaire_1 figure figcaption p
{
    font-size: 66%;
    margin-top: 2.2rem;
}
#populaire_2
{
    background-color: white;
    width: 21.5rem;
    height: auto;
    border-radius: 1.3rem;
    cursor: pointer;
    margin-bottom: 2rem;
    margin-right: 0.5rem;
}
#populaire_2 figure
{
    display: flex;
    flex-flow: row;
    padding: 0.3rem;
    height: auto;
    margin: auto;
}
#populaire_2 figure img 
{
    width: 10.1rem; 
    height: 8.5rem;
    object-fit: cover;
    object-position: right;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#populaire_2 figure figcaption
{
    text-align: left;
    background-color: white;
    margin-left: -2.1rem;
    margin-right: 1.2rem;
    padding-left: 1.5rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#populaire_2 figure figcaption h2
{
    font-size: 100%;
    font-weight: bold;
    margin-bottom: -0.3rem;
}
#populaire_2 figure figcaption h3
{
    font-size: 90%;
}
#populaire_2 figure figcaption p
{
    font-size: 66%;
    margin-top: 2.2rem;
}
#populaire_3
{
    background-color: white;
    width: 21.5rem;
    height: auto;
    border-radius: 1.3rem;
    cursor: pointer;
    margin-bottom: 2rem;
    margin-right: 0.5rem;
}
#populaire_3 figure
{
    display: flex;
    flex-flow: row;
    padding: 0.3rem;
    height: auto;
    margin: auto;
}
#populaire_3 figure img 
{
    width: 10.1rem; 
    height: 8.5rem;
    object-fit: cover;
    object-position: right;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#populaire_3 figure figcaption
{
    text-align: left;
    background-color: white;
    margin-left: -2.1rem;
    margin-right: 1.2rem;
    padding-left: 1.5rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#populaire_3 figure figcaption h2
{
    font-size: 100%;
    font-weight: bold;
    margin-bottom: -0.3rem;
}
#populaire_3 figure figcaption h3
{
    font-size: 90%;
}
#populaire_3 figure figcaption p
{
    font-size: 66%;
    margin-top: 2.2rem;
}
#activites
/* utilisation de margin négatifs pour forcer l'alignement, voir à terme si possibilité de faire autrement*/
{
    display: grid;
    max-width: 84rem;
    height: auto;
    margin-top: 2rem;
    margin-left: -2.5rem;
    margin-bottom: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    grid-template-areas: 
        "a m m m"
        "b c e f"
        "b d e g";
    background-color: white;
}
#activites h1
{
    grid-area: a;
    width: 100%;
    text-align: left;
    margin-left: 2.5rem;
    padding-top: 0.5rem;
    margin-bottom: 0.1rem;
}
#activites h2
{
    font-size: 80%;
}
#activite_1
{
    grid-area: b;
    border-radius: 1rem;
    align-self: start;
    margin-right: -2.5rem;
    cursor: pointer;
}
#activite_1 figure
{
    width: 19.5rem;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 4px rgb(242,242,242);
}
#activite_1 figure img
{
    width: 19.5rem;
    height: 24.5rem;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#activite_1 figure figcaption
{
    background-color: white;
    width: 14rem;
    height: 3rem;
    font-size: 125%;
    font-weight: bold;
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#activite_2
{
    grid-area: c;
    width: auto;
    border-radius: 1rem;
    align-self: start;
    margin-bottom: -1.8rem;
    margin-right: -2.5rem;
    cursor: pointer;
}
#activite_2 figure
{
    width: 19rem;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 4px rgb(242,242,242);
}
#activite_2 figure img
{
    width: 19rem;
    height: 11.2rem;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#activite_2 figure figcaption
{
    background-color: white;
    width: 14rem;
    height: 3rem;
    font-weight: bold;
    font-size: 125%;
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#activite_3
{
    grid-area: d;
    width: auto;
    border-radius: 1rem;
    align-self: end;
    cursor: pointer;
    margin-right: -2.5rem;
}
#activite_3 figure
{
    width: 19rem;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 4px rgb(242,242,242);
}
#activite_3 figure img
{
    width: 19rem;
    height: 7rem;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#activite_3 figure figcaption
{
    background-color: white;
    width: 14rem;
    height: 3rem;
    font-size: 125%;
    font-weight: bold;
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#activite_4
{
   grid-area: e;
   border-radius: 1rem;
   align-self: start;
   cursor: pointer;
   margin-right: -2.5rem;
}
#activite_4 figure
{
    width: 19rem;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 4px rgb(242,242,242);
}
#activite_4 figure img
{
    width: 19rem;
    height: 24.5rem;
    filter: opacity(85%);
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#activite_4 figure figcaption
{
    background-color: white;
    width: 14rem;
    height: 3rem;
    font-size: 125%;
    font-weight: bold;
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#activite_5
{
    grid-area: f;
    width: auto;
    border-radius: 1rem;
    align-self: start;
    cursor: pointer;
}
#activite_5 figure
{
    width: 19rem;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 4px rgb(242,242,242);
}
#activite_5 figure img
{
    width: 19rem;
    height: 8.7rem;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#activite_5 figure figcaption
{
    background-color: white;
    width: 14rem;
    height: 3rem;
    font-size: 125%;
    font-weight: bold;
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#activite_6
{
    grid-area: g;
    width: auto;
    border-radius: 1rem;
    align-self: end;
    cursor: pointer;
}
#activite_6 figure
{
    width: 19rem;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 4px rgb(242,242,242);
}
#activite_6 figure img
{
    width: 19rem;
    height: 9.4rem;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#activite_6 figure figcaption
{
    background-color: white;
    width: 14rem;
    height: 3rem;
    font-size: 125%;
    font-weight: bold;
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
footer
{
    display: flex;
    width: 100%;
    background-color: rgb(242,242,242);
    margin-left: -4rem;
    margin-right: 4rem;
    margin-top: 3rem;
    line-height: 2rem;
    text-align: left;
    padding-bottom: 3rem;
}
footer h1
{
    font-size: 110%;
    line-height: 0.3rem;
}
#a_propos
{
    width: 31%;
    margin-top: 2.5rem;
    margin-left: 3.5rem;
}
#a_propos h1
{
    margin-bottom: 1.4rem;
}

#menu_a_propos ul
{
    list-style: none;
}
#menu_a_propos a
{
    font-size: 1rem;
    color: black;
    text-decoration: none;
    margin-left: -2.5rem;
}
#menu_a_propos a:hover
{
    color: #0065FC;
    font-weight: bold;
}
#nos_hebergements
{
    width: 31%;
    margin-top: 2.5rem;
    margin-left: 3.5rem;
}
#nos_hebergements h1
{
    margin-bottom: 1.4rem;
}
#menu_nos_hebergements ul
{
    list-style: none;
}
#menu_nos_hebergements a
{
    font-size: 1rem;
    color: black;
    text-decoration: none;
    margin-left: -2.5rem;
}
#menu_nos_hebergements a:hover
{
    color: #0065FC;
    font-weight: bold;
}
#assistance
{
    width: 38%;
    margin-top: 2.5rem;
    margin-left: 3.5rem;
}
#assistance h1
{
    margin-bottom: 1.4rem;
}
#menu_assistance ul
{
    list-style: none;
}
#menu_assistance a
{
    font-size: 1rem;
    color: black;
    text-decoration: none;
    margin-left: -2.5rem;
}
#menu_assistance a:hover
{
    color: #0065FC;
    font-weight: bold;
}